/*reset basico*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* estilos generales */
body{
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3{
	font-family: 'Playfair Display', serif;
}

/* estilos nav */
	.navbar-default{
		border:none;
		padding-bottom: 10px;
		background-color:rgba(#857876,0.2);
		.logo{
			color:white;
			font-weight: 300;
			img{
			width: 24%;
			margin-top:-5px;
			}
		}
		.navbar-toggle{
			border: none;
		}
		button{
			margin-top: 20px;
		}
	}
	.navbar-collapse{
		border: none;
	}

/* estilos inicio */
#inicio{
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;

	.navbar-default, .navbar-nav>li>a{
		color: white;
		font-weight: 300;
		padding: 15px;
	}

	.navbar-nav>li>a:hover{
		font-weight: 700;
		padding-bottom: 5px;
		border-bottom: solid 2px #10BEB1;
	}

	h2{
		font-size: 8em;
		color: white;
		font-weight: 700;
		margin-top: 50px;
		text-shadow: 3px 4px 3px rgba(black, 0.4);
	}
	h3{
		font-size: 5em;
		color: white;
		font-weight: 700;
		margin-top: 60px;
		text-shadow: 3px 4px 3px rgba(black, 0.4);
	}
}

/* estilos sobre-mi */
#sobre-mi{
	background-color: #10BEB1;
	height: 450px;

	h2{
	font-size: 4em;
	color: white;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 30px;
	text-shadow: 3px 4px 3px rgba(black, 0.4);
	}
	.parrafo{
	font-size: 1em;
	margin-top: 10px;
	margin-left: 170px;
	color:white;
	font-weight: 300;
	}

	.movil{
	font-size: 1em;
	margin-top: 10px;
	color:white;
	font-weight: 300;
	text-align:center;
	}

	.foto{
	width:75%;
	margin: 0 auto;
	padding-top: 20px;
	}
}

#skills{
	background-color:white;
	border-bottom: solid 30px #10BEB1;

	.imagen-skills{
		margin:10px auto;
		img{
			width: 100%;
		}
	}
	h3{
		font-size: 3em;
		color: #10BEB1;
		font-weight: 400;
		font-family: 'Raleway', sans-serif;
	}
}

#proyectos{
	background-image: url(../img/proyectos.jpg);
	background-position: center;
	background-size: cover;
	height: 950px;

	.img-prev{
		width: 100%;
	}

	h2{
	font-size: 4em;
	color: white;
	font-weight: 400;
	margin-top: 80px;
	margin-bottom: 30px;
	text-shadow: 3px 4px 3px rgba(black, 0.4);
	padding-bottom: 20px;
	}

	.textos{
		background-color: #6d2a5b;
		padding-top: 10px;
		padding-bottom: 15px;

		h4{
		font-size: 3em;
		color: white;
		margin-top: 10px;
		padding-bottom: 10px;
		}

		a{
			color: white;
			padding: 5px 15px;
			margin: 10px;
			border: solid 2px white;
			text-decoration: none;
			font-size: 1.5em;
		}

		a:hover{
			color: #6d2a5b;
			background-color: white;
		}
	}

	.textos2{
		background-color: #10BEB1;
		position: relative;
		top: 140px;
		padding-top: 10px;
		padding-bottom: 15px;

		h4{
		font-size: 3em;
		color: white;
		margin-top: 10px;
		padding-bottom: 10px;
		}

		a{
			color: white;
			padding: 5px 15px;
			margin: 10px;
			border: solid 2px white;
			text-decoration: none;
			font-size: 1.5em;
		}

		a:hover{
			color: #10BEB1;
			background-color: white;
		}
	}

	.proy1{
		background-image: url(../img/applove.png);
		background-size: cover;
		width:100%;
		height: 270px;
		margin-top: 20px;
	}

	.proy2{
		background-image: url(../img/dobby.png);
		background-size: cover;
		width:100%;
		height: 270px;
		margin-top: 20px;
	}

	.proy3{
		background-image: url(../img/freelancer.png);
		background-size: cover;
		width:100%;
		height: 270px;
		margin-top: 20px;
	}

	.proy4{
		background-image: url(../img/goog.png);
		background-size: cover;
		width:100%;
		height: 270px;
		margin-top: 20px;
	}

	.proy5{
		background-image: url(../img/lab-car.png);
		background-size: cover;
		width:100%;
		height: 270px;
		margin-top: 20px;
	}

	.proy6{
		background-image: url(../img/save.png);
		background-size: cover;
		width:100%;
		height: 270px;
		margin-top: 20px;
	}

}

#contacto{
	background-color: #10BEB1;
	color: white;
	height: 60px;
	margin-top: 50px;
	padding-top: 20px;
	a{
		color: white;
		font-size: 16px;
		padding-right: 10px;
		text-decoration: none;
	}

	.fa{
			font-size: 32px;
			padding: 0 10px;

	}

	a:hover{
		color: #15635c;
	}
}


